body{
  background-color: #e9ecef !important;
}
.img-container{
  max-width: 90%;
  overflow: hidden;
  background-color: #e9ecef !important;
  margin: auto;
}

.mission-img{
  width: 100%;
}

.mission-name{
  color: #007bff;
  font-weight: bold;
  font-size: 16px;
}
.mission-label{
  font-weight: bold;
  font-size: 16px;
}
.mission-value{
  color: #007bff;
  font-size: 16px;
}
.remove-filter{
  position: absolute;
  top: 5px;
  right: 10px;
  color: red;
  cursor: pointer;
  text-decoration: underline;
}
.textdecoration{
  text-decoration: underline;
}